.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 250px;
  height: 200px;
  margin: 25px auto;
  display: block;
}

.myMap {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

.myImg:hover {opacity: 0.7;}

.popup-img{
  width: 80%;
  margin: 1px auto;
  display: block;
}

.modal-header {
  padding:1px;
}